# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

app/tmp/cache/models/myapp_cake_model_default_dbmym_actas
app/tmp/cache/models/myapp_cake_model_default_dbmym_actas
app/tmp/cache/models/myapp_cake_model_default_dbmym_actas
app/tmp/cache/models/myapp_cake_model_default_dbmym_actividades
app/tmp/cache/models/myapp_cake_model_default_dbmym_cierre_actas
app/tmp/cache/models/myapp_cake_model_default_dbmym_cierre_actas
app/tmp/cache/models/myapp_cake_model_default_dbmym_codigos
app/tmp/cache/models/myapp_cake_model_default_dbmym_condiciones_subestandares
app/tmp/cache/models/myapp_cake_model_default_dbmym_imp_prot_personales
app/tmp/cache/models/myapp_cake_model_default_dbmym_ipp_normas_incumplidas
app/tmp/cache/models/myapp_cake_model_default_dbmym_list
app/tmp/cache/models/myapp_cake_model_default_dbmym_tipo_usuarios
app/tmp/cache/models/myapp_cake_model_default_dbmym_tipo_vehiculos
app/tmp/cache/models/myapp_cake_model_default_dbmym_trabajadores
app/tmp/cache/models/myapp_cake_model_default_dbmym_um_normas_incumplidas
app/tmp/cache/models/myapp_cake_model_default_dbmym_unidades_moviles
app/tmp/cache/models/myapp_cake_model_default_dbmym_users
app/tmp/cache/models/myapp_cake_model_default_dbmym_vehiculos
app/tmp/cache/persistent/myapp_cake_core_cake_dev_es-es
app/tmp/cache/persistent/myapp_cake_core_cake_dev_es-es
app/tmp/cache/persistent/myapp_cake_core_cake_es-es
app/tmp/cache/persistent/myapp_cake_core_default_es-es
app/tmp/cache/persistent/myapp_cake_core_file_map
app/tmp/cache/persistent/myapp_cake_core_method_cache
app/tmp/logs/error.log
app/tmp/cache/models/myapp_cake_model_default_dbmym_actas
app/tmp/cache/models/myapp_cake_model_default_dbmym_actas
app/tmp/cache/models/myapp_cake_model_default_dbmym_empresas
app/tmp/cache/models/myapp_cake_model_default_dbmym_tipo_usuarios
app/tmp/cache/models/myapp_cake_model_default_dbmym_list
app/tmp/cache/models/myapp_cake_model_default_dbmym_tipo_usuarios
app/tmp/cache/models/myapp_cake_model_default_dbmym_trabajadores
app/tmp/cache/models/myapp_cake_model_default_dbmym_users
app/tmp/cache/models/myapp_cake_model_default_dbmym_users
app/tmp/cache/models/myapp_cake_model_default_dbmym_users
app/tmp/cache/persistent/myapp_cake_core_cake_dev_es-es
app/tmp/cache/persistent/myapp_cake_core_cake_es-es
app/tmp/cache/persistent/myapp_cake_core_default_es-es
app/tmp/cache/persistent/myapp_cake_core_file_map
app/tmp/cache/persistent/myapp_cake_core_method_cache
app/tmp/logs/error.log
app/tmp/cache/models/myapp_cake_model_default_dbmym_actas
app/tmp/cache/models/myapp_cake_model_default_dbmym_actividades
app/tmp/cache/models/myapp_cake_model_default_dbmym_actos_subestandares
app/tmp/cache/models/myapp_cake_model_default_dbmym_cierre_actas
app/tmp/cache/models/myapp_cake_model_default_dbmym_codigos
app/tmp/cache/models/myapp_cake_model_default_dbmym_imp_prot_personales
app/tmp/cache/models/myapp_cake_model_default_dbmym_condiciones_subestandares
app/tmp/cache/models/myapp_cake_model_default_dbmym_imp_prot_personales
app/tmp/cache/models/myapp_cake_model_default_dbmym_ipp_normas_incumplidas
app/tmp/cache/models/myapp_cake_model_default_dbmym_list
app/tmp/cache/models/myapp_cake_model_default_dbmym_tipo_usuarios
app/tmp/cache/models/myapp_cake_model_default_dbmym_trabajadores
app/tmp/cache/models/myapp_cake_model_default_dbmym_um_normas_incumplidas
app/tmp/cache/models/myapp_cake_model_default_dbmym_unidades_moviles
app/tmp/cache/models/myapp_cake_model_default_dbmym_users
app/tmp/cache/models/myapp_cake_model_default_dbmym_users
app/tmp/cache/models/myapp_cake_model_default_dbmym_vehiculos
app/tmp/cache/persistent/myapp_cake_core_cake_es-es
app/tmp/cache/persistent/myapp_cake_core_default_es-es
app/tmp/cache/persistent/myapp_cake_core_file_map
app/tmp/cache/persistent/myapp_cake_core_method_cache
app/tmp/logs/error.log